

<div class="center hero-unit">
<h1>Welcome to FibroTrust</h1>
<p>
<h2>Finding ways to improve health with the 
<a href="http://fibrotrust.org/">Fibromyalgia Trust</a>
.
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</p></div>


